[client]
default-character-set = utf8mb4

[mysql]
default-character-set = utf8mb4

[mysqld]
character-set-client-handshake = FALSE
character-set-server           = utf8mb4
collation-server               = utf8mb4_unicode_ci
innodb_data_file_path          = ibdata1:12M:autoextend
innodb_log_files_in_group      = 3
innodb_log_file_size           = 64M

[mysqld_safe]
log-error = /logs/mysql/mysqld.log